<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" /> -->
    <title>{{Change me!}}</title> <!-- set your own Animal Information themed title to the left -->
  </head>
  <body>
    <h1 class="header">{{This is my page}}</h1> <!-- set your own Animal Information themed page header to the left -->

    <!--
      <section> element represents a standalone section — which doesn't have
      a more specific semantic element to represent it — contained within an
      HTML document. Typically, but not always, sections have a heading.
    -->
    <section class="cat-section">
      <!--
        <article> element represents a self-contained composition in a document,
        page, application, or site, which is intended to be independently
        distributable or reusable (e.g., in syndication). Examples include: a forum
        post, a magazine or newspaper article, or a blog entry.
      -->
      <article>
        <h2>Cats</h2>

        <h3>Tabby</h3>
        
        <p>
          A tabby is any domestic cat that has a coat featuring distinctive stripes, dots, 
          lines or swirling patterns, usually together with a mark resembling an 'M' on its forehead.
        </p>
        <!--
          <aside> element represents a portion of a document whose content is only
          indirectly related to the document's main content. Asides are frequently
          presented as sidebars or call-out boxes.
        -->
        <aside>
          <p>
            The tabby pattern is determined by the agouti gene, which causes the individual hairs to
            have bands of light and heavy pigmentation, and the tabby gene, which denotes the type of 
            tabby patterns, namely stripes, blotches or spots of hairs of solid color.
          </p>
        </aside>
      </article>
    
      <!-- 
        <footer> element represents a footer for its nearest sectioning content
        or sectioning root element. A footer typically contains information about
        the author of the section, copyright data or links to related documents.
      -->
      <footer> 
        <p><em>©2018 Cat Facts</em></p>
      </footer>
    
    </section>

    <section class="dog-section">
        <article>
          <h2>Dogs</h2>
          <h3>Great Pyrenees</h3>
          
          <p>A large breed of dog used as a livestock guardian dog.</p>
          <aside>
              <p>
                The Great Pyrenees’ ancestors lived with peasant shepherds for several thousand
                years in the high, cold, isolated Pyrenees Mountains that separate France and Spain.
              </p>
          </aside>
          <a target="_blank" href="https://www.akc.org/expert-advice/lifestyle/did-you-know/9-facts-great-pyrenees/">More Details...</a>
        </article>
      
        <footer> 
          <p><em>©2018 Dog Facts</em></p>
        </footer>
      
      </section>
  </body>
</html>