body {
  background-color: #005B9A;
  width: 500px;
  margin: auto;
}

.header {
  border: 2px solid black;
  color: black;
  text-align: center;
  background-color: #0191C8; 
}

article {
  margin-left: 5px;
}

footer {
  text-align: center;
}

section {
  vertical-align: top;
  background-color: #74C2E1;
  display: inline-block;
  width: 240px;
  height: 80%;
}

.cat-section {
  border: 1px dotted yellow;
  margin-right: 10px;
}

.dog-section {
  border: 1px dashed green;
}